<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-segment scrollable>
  <ion-segment-button>
    <ion-label>
      Lifestyle
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
      Politics
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
      Technology
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
     Daily
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
     Work
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
      Business
    </ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>
      Sports
    </ion-label>
  </ion-segment-button>
</ion-segment>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>October 13, 2021</ion-card-subtitle>
    <ion-card-title>Maring floods, kill 11</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    MANILA, Philippines — Unusually heavy rains brought by Severe Tropical Storm “Maring” (international name: Kompasu) caused flash floods and triggered landslides in northern Luzon and Palawan early this week, leaving at least 11 people dead and 22 missing, according to reports culled from local disaster authorities on Tuesday. <br> <br>
    Read more: https://newsinfo.inquirer.net/1501119/maring-floods-slides-kill-11#ixzz7990jFwEI <br>
    Follow us: @inquirerdotnet on Twitter | inquirerdotnet on Facebook
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>October 13, 2021</ion-card-subtitle>
    <ion-card-title>House pressed to probe DSWD cash payout contract
      </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    MANILA, Philippines — A Makabayan lawmaker on Tuesday urged the House of Representatives to start its own investigation of the distribution through a little-known firm of cash aid to poor Filipinos by the Department of Social Welfare and Development (DSWD). <br> <br>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start">Recent</ion-icon>
    <ion-label>October 13, 2021</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Truck helper dead in vehicle mishap in Cadiz City <br> <br>

    Read more: https://newsinfo.inquirer.net/1501248/truck-helper-dead-in-vehicle-mishap-in-cadiz-city#ixzz7992CxvlM <br>
    Follow us: @inquirerdotnet on Twitter | inquirerdotnet on Facebook

  </ion-card-content>
</ion-card>

</ion-content>
